RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Pour l'URL /login qui renvoie à controllers/login.php
RewriteRule ^login/?$ controllers/login.php [QSA,L]

# Pour l'URL /dashboard ou /dashboard/home, /dashboard/reservations, /dashboard/reservation_details, etc.
RewriteRule ^dashboard/([^/]+)/?$ controllers/dashboard.php?page=dashboard&view=$1 [QSA,L]

# Pour /dashboard sans view, redirige vers home par défaut
RewriteRule ^dashboard/?$ controllers/dashboard.php?page=dashboard&view=home [QSA,L]

# Pour /search/hotel/{id}/dates/{dates}
RewriteRule ^search/hotel/([^/]+)/dates/([^/]+)/?$ controllers/search.php?page=search&hotel=$1&dates=$2 [QSA,L]

# Pour /info_hotel
RewriteRule ^home/?$ controllers/home.php [QSA,L]

# Pour /search_rooms
RewriteRule ^search_rooms/?$ controllers/search_rooms.php [QSA,L]

# Pour /reservation
RewriteRule ^reservation$ controllers/reservation.php [L]

# Pour /confirm_reservation
RewriteRule ^confirm_reservation$ controllers/confirm_reservation.php [L,NC]

# Pour /reservation_success
RewriteRule ^reservation_success$ controllers/reservation_success.php [L,NC]