RewriteEngine On

# Exclude file and folder that already exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L] # Last redirection and keep GET arguments