.body {
    background: #EFEFEF;
}

.topbar {
    height: 5.625rem;
    background: #FFF;
    padding: 0 1rem;
}

.home-link {
    width: 7.5em;
}

.home-link-text {
    color: #000;
    font-family: "Roboto Flex", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.home-link-icon {
    width: 1.5rem;
    height: 1.5rem;
}