.btn-primary {
    --bs-btn-color: black;
    --bs-btn-bg: #fdf447;
    --bs-btn-border-color: #fdf447;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #e6dc3f;
    --bs-btn-hover-border-color: #d1c939;
    --bs-btn-focus-shadow-rgb: 253, 244, 71;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d1c939;
    --bs-btn-active-border-color: #c1ba34;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fdf447;
    --bs-btn-disabled-border-color: #fdf447;
}

* {
    box-sizing: border-box;
}


.body {
    background: #757780;
    min-height: 100vh;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

.main-section {
    border-radius: 0.625rem;
    background: #F7F7FF;
    box-shadow: 8px 8px 40px 0 #6D6D6A;
}

.min-vh-70 {
    min-height: 70vh;
}

.bg-card {
    background: whitesmoke;
}



.offcanvas {
    background-color: #3D464D !important;
    color: white;
}

.offcanvas-body {
    font-size: 1.2rem;
}

.custom-close-btn {
    background-color: white;
}

.offcanvas-body .nav .nav-item .nav-link {
    color: white;
}

.card {
    border-radius: 3.4375rem !important;
    overflow: hidden;
    transition: transform .3s ease-out;
}

.card:hover {
    transform: scale(101%);
}

.card-header {
    background-color: #101419 !important;
    color: white;
}

.lg-card {
    border-radius: 2.5rem !important;
}

.sidebar {
    width: 3.75rem;
    background-color: #101419 !important;
}
.sidebar a {
    color: #fff;
    font-size: 1.4rem;
    margin: 1rem 0;
}
.sidebar .nav-link:hover {
    color: #fdf447;
}

.sidebar .nav-link:active,
.sidebar .nav-link.active,
.sidebar .nav-link:focus {
    color: #fdf447;
}
