.body {
    background: #EFEFEF;
    height: 100vh;
    font-family: "Roboto Flex", sans-serif;
}

.topbar {
    height: 5.625rem;
    background: #FFF;
    padding: 0 1rem;
}

.home-link {
    width: 7.5em;
}

.home-link-text {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}

.home-link-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.main-section {
    width: 90%;
    height: 85%;
    border-radius: 0.625rem;
    background: #DBDFE6;
    box-shadow: 8px 8px 40px 0 #6D6D6A;
}

.sidebar {
    width: 5.5rem;
    height: 65%;
    left: -2.75rem !important;
    top: 50%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar .icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.large-svg {
    width: 90%;
    height: auto;
    max-width: 2.5rem;
    flex-shrink: 1;
}