@import "dashboard-global.css";

.dashboard-content {
    height: 100%;
    padding: 4% 3%;
    flex-wrap: wrap;
}

.card-custom {
    border-radius: 3.4375rem;
    font-weight: bold;
}

.large-card {
    border-radius: 3.4375rem;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card-white {
    background: #FFF; border: 1px solid #ddd;
}

.card-red {
    background: #DE6449; color: white;
}
.card-yellow {
    background: #ffc107; color: white;
}

.card-orange {
    background: #FFBA49; color: white;
}


@media (max-width: 768px) {
    .dashboard-content {
        width: 100%; /* Pleine largeur sur les petits écrans */
        margin-left: 0; /* Pas de décalage pour la sidebar */
    }

    .card-custom, .large-card {
        min-height: auto; /* Ajustez la hauteur pour les petits écrans */
        padding: 10px; /* Réduisez le padding pour les petits écrans */
    }
}

