body {
    background: #EFEFEF;
    min-height: 100vh;
    font-family: "Roboto Flex", sans-serif;
}

.main-section {
    border-radius: 0.625rem;
    background: #DBDFE6;
    box-shadow: 8px 8px 40px 0 #6D6D6A;
}

.min-vh-70 {
    min-height: 70vh;
}