body {
    background: url('assets/images/hotel.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
}
.form-container p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}