<?php
    const DB_USERNAME = "";
    const DB_PASSWORD = "";
    const DB_NAME = "hotel";
    const DB_HOST = "127.0.0.1";
    const DB_PORT = 5432;

    const ADMIN_ID = 1;
    
    const USER_LIST_STEP = 10;
    const ROOMS_LIST_STEP = 10;
    const LOGS_LIST_STEP = 10;
    const CONSOS_LIST_STEP = 10;
?>